@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>MegoTimeTracker is an app designed to track student attendance. We do not store any data other than your ID
    number, when you login, and when you logout.
</p>
